@font-face {
    font-family: 'Otterco Display Medium';
    src: url('./Police/Otterco\ Display\ Medium.otf') format('opentype');
  }
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.Header{
    padding-bottom: 150px;
}
.Header-Nom{
    
    font-size: 12px;
}
.Header__GroupeNav{
    gap: 350px;
}
.Header__NavIcone{
    background-color:white;
    border-radius: 30px;
    padding: 5px 9px;
    border: 4px solid #e4e4e4;
}
.Header-Icone1{
    width: 28px;
    height: 28px;
    padding-top: 5px;
}
.Header-Icone2{
    width: 28px;
    height: 28px;
    padding-top: 5px;
}
.Header-Icone3{
    width: 28px;
    height: 28px;
    padding-top: 5px;
}
.Header__Image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.Header__Icone{
    padding: 20px;
}
.Header-Nom{
    width: 160px;
    left: 150px;

}
.Header__Texte{
    font-size: 55px;
    width: 600px;
}
.Header__GroupeMain{
    padding: 50px 40px;
}
.Logo-Déroulement {
    gap: 60px;
}


@keyframes defilement {
    0% {
        transform: translateX(100%);
    }
    50%{
      transform: translateX(-15%);
    }
    100% {
        transform: translateX(-130%); /* Déplace les logos vers la gauche */
    }
}
.Main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Logo-Déroulement img {
    margin: 0 15px;
    height: 40px;
}
.Main__Titre{
    font-size: 35px;
    padding: 70px 200px;
}
.Main__SousTitre{
    top: 440px;
    background-color: white;
    color: black;
    padding: 15px 30px;
    font-size: 20px;
    margin: 0;
    border-radius: 30px;
}
.Main__GroupeCompétence{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 10px;
    padding-left: 30px;
    margin: 20px 0px;
}
.Main__GroupeCompétence{
    width: 100%;
   padding: 40px;
   margin-left: 30px;
}
.Main__Compétence{
    width: 100px;    
}
.Main__Titre{
    font-size: 40px;
    width: 1000px;    
}
.Main__Titre2{
    font-size: 17px;
    width: 350px;
}
.Main__image{
    height: 50px;
    width: 50px;
}
.Main__image4{
    height: 60px;
    width: 60px;
}
.Main__paragraphe{
    color:rgb(80, 80, 80) ;
    line-height: 20px;
    font-size: 13px;
}
.Main__Compétence{
    width: 25%;
}
.Main__paragraphe{
    width: 210px;
    margin-right: 20px;
}
.Footer__Image{
    width: 200px;
    height: 200px;
}
.Footer__Texte{
    font-size: 50px;
    width: 700px;
}
.Footer__Description{
    padding:110px 20px;
    line-height: 70px;
}
.Footer__Lien{
    margin-right: 15px;
}