*{
    box-sizing: border-box;
    font-family: cursive,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: #cbcbcb;
}
.Header{
    border-bottom: 3px solid 
    
    rgb(0, 0, 0);
    border-bottom-right-radius: 90px;
    border-bottom-left-radius: 90px;
    background-color: #F0EFEE;
}
.Header__Description{
    padding: 30px 10px;
}
.Header__GroupeNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    width: 100%;
}
.Header__Nav a[href="CV"]{
    background-color: white;
    color: black;
    border: dotted 3px black;
}
.Header__Lien{
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 50px;
    padding: 13px 26px;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.412);
    position: relative;
    top: 5px;
    margin-right: 5px;
}
.Header__Icone{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.874);
    border-radius: 0px;
    padding: 16px;
    clip-path: circle();
    
    
}
.Header__IconeImage{
    height: 25px;
    position: relative;
    top: 6px;
}
.Header__Texte{
    color: rgb(0, 0, 0);
    font-size: 34px;
    font-weight: 500;
    width: 360px;
    
}
.Header__Button{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: #cbcbcb;
    border: 2px solid rgb(0, 0, 0);
    padding: 20px 40px;
    border-radius: 100px;
}
.Header__GroupeMain{
    padding:70px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.Header__Image{
    height: 150px;
    clip-path: circle();
}
.Main{
    background-color:  #cbcbcb;
}
.Main__Titre{
    padding: 20px;
    font-size: 28px;
    line-height: 43px;
    font-weight: 600;
    text-align: center;
    border-bottom: 7px double rgb(0, 0, 0);
    padding-bottom: 60px;
}
.Main__Description{ 
   display: flex;
   flex-direction: column;
   align-items: center;
}
.Main__SousTitre{
    text-align: center;
    border: 3px solid black;
    background-color:#F0EFEE;
    color: 
    rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 30px;
    padding: 15px 30px;
    position: relative;
    top: -70px;
}
.Main__GroupeCompétence{
    display: flex;
    flex-wrap: wrap; 
    padding: 10px;
}
.Main__Compétence{
    width: 50%;
    padding: 3px;
    
    
}
.Main__Titre2{
    font-weight: bold;
    font-size: 20px;
    width: 180px;
}
.Main__paragraphe{
    color:rgb(66, 66, 66) ;
    padding: 5px;
    line-height: 22px;
}

/* Main2 de la page cv */
.CV{
    background-color: #F0EFEE;
}
.CV__Titre{
    text-align: center;
    font-size: 25px;
    background-color: #F0EFEE;
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid black;
}
.CV__Header{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(205, 205, 205);
    border-bottom: 2px solid black;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 40px 0;
}
.CV__SousTitre{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.CV__Domaine{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: #F0EFEE;
    display: inline-block;
    padding: 15px 0;
    border: 8px double black; 
    margin: 10px;
}
.CV__Titre2{
    text-align: center;
    background-color: #F0EFEE;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    border-bottom: 3px solid black;
    padding:60px 25px;
    font-size: 23px;
    font-weight: bold;
}
.CV__GroupeTechnique{
    background-color: #F0EFEE; 
    padding: 10px;
}
.CV__Titre3{
    font-size: 25px;
    font-weight: bold;
    background-color: #cbcbcb;
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
    border: 2px dotted black;
}
.CV__Titre4{
    font-size: 23px;
    font-weight: bold;
}
.CV__Paragraphe{
    line-height: 25px;
    font-size: 20px;
}
.Footer{
    border-top: 3px solid rgb(0, 0, 0);
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    padding: 15px;
    background-color: #F0EFEE;
}
.Footer__Description{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid black;
    padding:60px 20px;
    line-height: 40px;
}
.Footer__Texte{
    font-size: 33px;
    font-weight: bold;
    text-align: center;
}
.footer__Renseingnement a[href="WhatsApp"] {
    background-color: rgb(255, 255, 255);
    color: black;
    border: dotted 3px black;
}
.Footer__Lien{
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 35px;
    border: 1px solid rgb(179, 179, 179);
    padding: 20px;
    font-weight: bold;
}
.Footer__Droit{
    font-weight: 500;
}
.Footer__Image{
    height: 180px;
    clip-path: circle();
}
.Footer__LienNav{
    background-color: white;
    padding: 12px;
    clip-path: circle();
    
    
}
.Footer__Icone{
    height: 20px;
    margin-right: 10px;
    position: relative;
    left: 4px;
    top: 3px;
}
.Footer__End{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:4px 10px;
}