*{
    box-sizing: border-box;
    font-family: cursive,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: #d7d7d7;
}
.Header{
    border-bottom: 2px solid rgb(103, 103, 103);
    border-bottom-right-radius: 90px;
    border-bottom-left-radius: 90px;
    background-color: #F0EFEE;
}
.Header__Description{
    padding: 30px 10px;
}
.Header__GroupeNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    width: 100%;
}
.Header__Nav a[href="CV"]{
    background-color: white;
    color: black;
}
.Header__Lien{
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 50px;
    padding: 13px 26px;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.412);
    position: relative;
    top: 5px;
    margin-right: 5px;
}
.Header__Icone{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.874);
    border-radius: 0px;
    padding: 16px;
    clip-path: circle();
    
}
.Header__IconeImage{
    height: 25px;
    position: relative;
    top: 6px;
}
.Header__Texte{
    color: rgb(0, 0, 0);
    font-size: 34px;
    font-weight: 500;
    width: 360px;
    
}
.Header__Button{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: black;
    padding: 20px 40px;
    border-radius: 100px;
}
.Header__GroupeMain{
    padding:70px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.Header__Image{
    height: 150px;
    clip-path: circle();
}
.Main{
    background-color: #d7d7d7;
    position: relative;
}
.Main__Titre{
    padding: 20px;
    font-size: 28px;
    line-height: 43px;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding-bottom: 60px;
}
.Main__Description{ 
   display: flex;
   flex-direction: column;
   align-items: center;
}
.Main__SousTitre{
    text-align: center;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    padding: 15px 30px;
    position: absolute;
    top: 170px;
    
}
.Main__GroupeCompétence{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    padding-right: 30px;
}
.Main__Compétence{
    width: 50%;
    padding: 5px;
}
.Main__Titre2{
    font-weight: bold;
    font-size: 20px;
    width: 180px;
}
.Footer{
    border-top: 2px solid rgb(103, 103, 103);
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    padding: 15px;
    background-color: #F0EFEE;
}
.Footer__Description{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid black;
    padding:60px 20px;
    line-height: 40px;
}
.Footer__Texte{
    font-size: 33px;
    font-weight: bold;
    text-align: center;
}
.footer__Renseingnement a[href="WhatsApp"] {
    background-color: white;
    color: black;
}
.Footer__Lien{
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 35px;
    border: 1px solid rgb(179, 179, 179);
    padding: 20px;
    font-weight: bold;
}
.Footer__Droit{
    font-weight: 500;
}
.Footer__Image{
    height: 180px;
    clip-path: circle();
}